<div>
    <p>
        <img src="http://files.cod3r.com.br/curso-web/imagem1.jpg" alt="Não consegui exibir a imagem" width="513"
            height="342" title="Muro na Cidade por Tarso Bessa">
    </p>

    <p>
        <img src="http://files.cod3r.com.br/curso-web/imagem2.gif" alt="Intro Cod3r" height="342">
    </p>

    <p class="circular">
        <img src="http://files.cod3r.com.br/curso-web/imagem3.png" alt="RJ" height="342">
    </p>

    <p class="texto">
        <img src="http://files.cod3r.com.br/curso-web/avatar.jpg" alt="Avatar" height="50" align="left">
        TEXTO ASKOSASOKASOASOASKASOKASO ASD MAMKASDMDAS
        ASDAMSLDOK AMSKLMKL asda dasdasas dssd dasasd asdasd
        A LKDMA SKLMKLSAD asd asdasd asd asd sd as dasasd as
        asd asd asdas asd ad asd as dasd asd asd asd as dad as
        asd ad asa sas das das dasdasdasdadasdsasdasdasdasdasd
        asd asdasdasdasdasdasdasdasdasd
    </p>

    <p class="cidade"></p>

    <p>
        <picture>
            <source srcset="http://files.cod3r.com.br/curso-web/logo-larga.png" media="(min-width: 600px)">
            <img src="http://files.cod3r.com.br/curso-web/logo-estreita.png" alt="logo">
        </picture>
    </p>
</div>

<style>
    .circular {
        width: 513px;
        background-color: #fff;
    }

    .texto {
        width: 400px
    }

    .texto img {
        margin-right: 10px;
    }

    .cidade {
        width: 513px;
        height: 342px;
        background-image: url('http://files.cod3r.com.br/curso-web/imagem4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
    }
</style>