<h1>Listas</h1>

<!-- Lista Ordenadas-->

<h2>Aprovados</h2>
<ol>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Joao</li>
    <li>Ana</li>
</ol>

<!-- Lista Não Ordenadas-->

<h2>Lista de Compras</h2>
<ul>
    <li>Queijo</li>
    <li>Leite</li>
    <li>Arroz</li>
</ul>

<!-- Lista de Definição-->
<h2>Principais termos do glossário de CLOUD</h2>
<dl>
    <dt>BaaS</dt>
    <dd>Backend como serviço</dd>
</dl>