<h1>Texto (Parte 2)</h1>

<!-- Quebra de linha -->
<p>Isso está<br>em uma<br /> nova linha.</p>

<p>Tema interessante 1</p>
<hr>
<p>Tema interessante 2</p>
<hr />


<!-- Marcação Semântica -->
<!-- Diferente de estilo (negrito)-->
<!-- Emfase diferente de estilo (itálico)-->
<p><strong>Cuidado!</strong> alta voltagem! <em>Somente autorizado</em></p>

<blockquote cite="https://pt.wikipedia.org/wiki/Wikipedia">
    <p>citações longas</p>
</blockquote>

<p> Fulano disse que citação curta: <q>tempor incididunt ut...</q></p>

<!-- Outras tags -->
<p>
    <abbr title="Professor">Prof</abbr> Fulano em seu livro
    <cite>Livro Bem Legal</cite> definiu mais precisamente...
</p>
<p><dfn>Buraco negro</dfn> é ...</p>

<address>
    <p>
        Rua ABC..., n<sup>0</sup> 123...
    </p>
</address>

<p>O Oscar vai para <del>La la land</del> <ins>Moonlight</ins></p>

<p>Computador de <s>R$ 2249,90</s> por R$ 1749,90</p>