<!--Cabeçalhos-->

<h1>Cabeçalho Principal</h1>
<h2>Nível 2</h2>
<h3>Nível 3</h3>
<h4>Nível 4</h4>
<h5>Nível 5</h5>
<h6>Nível 6</h6>

<!--Parágrafo-->
<!--quebra de linha apenas com <br>-->
<p>
    Lorem Ipsum é simplesmente uma simulação de texto da
    indústria tipográfica e de impressos, e vem sendo utilizado
    desde o século XVI, quando um impressor desconhecido
    pegou uma bandeja de tipos e os embaralhou
    para fazer um livro de modelos de tipos.
    Lorem Ipsum sobreviveu não só a cinco séculos,
    como também ao salto para a editoração eletrônica,
    permanecendo essencialmente inalterado. Se popularizou
    na década de 60, quando a Letraset lançou decalques
    contendo passagens de Lorem Ipsum, e mais recentemente
    quando passou a ser integrado a softwares de editoração
    eletrônica como Aldus PageMaker.
</p>

<!--negrito e itálico-->
<p>Texto em <b>negrito</b> e <i>itálico</i>.</p>

<!--sobrescrito e subscrito-->
<p>2<sup>2</sup>=4 e H<sub>2</sub>0 = Água!</p>

<!-- espaço em branco-->
<p>Espaço em branco não funciona</p>