@font-face {
    font-family: 'myFont';
    src: url(../../fonts/Oswald-Regular.ttf);
    font-style: normal;
    font-size: 60px;
}

.botao {
    background-color: $cor-bg-botao-padrao;
    color: $cor-botao-padrao;
    font-family: 'myFont';
}